@model IEnumerable<AulaEntity.Models.Compromisso>

@{
	ViewData["Title"] = "Compromissos";
}

<h1>Compromissos</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Local.Rua)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Contato.Nome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Nome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Data)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Local.Rua)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Contato.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Data)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
				</td>
			</tr>
		}
	</tbody>
</table>
